.small-logo {
  max-width: 300px;
}
.color_fill {
  width: 100vw;
  height: 'auto';
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logoContainer-join {
  margin-bottom: 20px;
}
