.small-logo {
  max-width: 35vh;
}
.color_fill {
  width: 100vw;
  height: 'auto';
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logoContainer-join {
  display: flex;
  max-height: 20vh;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
