.small {
  max-width: 250px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.logoContainer-play {
  margin-bottom: 20px;
}

.text {
  text-align: center;
  font-size: medium;
}

a {
  color: cyan;
  text-decoration-line: none;
}

.songResult {
  line-height: 1.8;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  cursor: pointer;
}

.name {
  font-size: 32px;
  line-height: 1;
  margin: 0px;
  padding: 0px;
}
